<!DOCTYPE html>
<html>
  <head>
    <title>My Travel Journal</title>
  </head>
  <body>
    <h3>Travel Journal</h3>
    <h5>January 1st, 2000</h5>
    <p>
     Travelled to San Diego during Christmas 2017 and I liked it a lot. My husband and I are planning to go to Hawaii during the Spring of 2018. We will also go to Switzerland in the Summer of 2021. It will be great fun! Such a great big world to explore and so little time!
    </p>
  </body>
</html>
